.chatgpt-zhihu {
  --chatgpt-zhihu-bg-color: #fff;
  --chatgpt-zhihu-border-color: #f6f6f6;
  --chatgpt-tooptip-color: #fff;
}

.chatgpt-zhihu.dark {
  --chatgpt-zhihu-bg-color: #121212;
  --chatgpt-zhihu-border-color: #1b1b1b;
  --chatgpt-tooptip-color: #121212;
}

.chatgpt-zhihu {
  background: var(--chatgpt-zhihu-bg-color);
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.chatgpt-zhihu-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid var(--chatgpt-zhihu-border-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}

.chatgpt-zhihu-header-text {
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatgpt-zhihu-icon-container {
  display: flex;
}
.chatgpt-zhihu-header-icon {
  width: 25px;
  height: 25px;
  stroke: #056de8;
  fill: none;
  cursor: pointer;
}
.chatgpt-zhihu-header-icon.ok {
  display: none;
}

.chatgpt-zhihu-tryagain {
  margin-left: 20px;
}
.chatgpt-zhihu-tooltip {
  position: relative;
  display: inline-block;
}

.chatgpt-zhihu-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.chatgpt-zhihu-tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: var(--chatgpt-tooptip-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.6s;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  user-select: none;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.chatgpt-zhihu-answer {
  padding: 20px;
  white-space: pre-wrap;
}

.chatgpt-zhihu-hidden {
  display: none;
}

.chatgpt-zhihu-show {
  display: block;
}
